body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#game {
  background-color: blue;
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

#message {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5em;
  padding: 10px;
}

.cell {
  width: 60px;
  aspect-ratio: 1 / 1;
  margin: 25px 15px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2.5px 2.5px 2.5px rgba(255,255,255,.5), -2.5px -2.5px 2.5px rgba(0,0,0,.5);
}

.cell:before {
  position: absolute;
  content: "";
  width: 75px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  box-shadow: 2.5px 2.5px 2.5px rgba(0,0,0,.5), -2.5px -2.5px 2.5px rgba(255,255,255,.5);
}

.cell.red:after, .cell.yellow:after {
  position: absolute;
  content: "";
  width: 45px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(255,255,255,.8), -1px -1px 1px rgba(0,0,0,.5);
}

.cell.red {
  background-color: rgb(222, 0, 0);}

.cell.yellow {
  background-color: rgb(222, 222, 0);}

.column:hover {
  background-color: rgb(0, 106, 255);
}


#reset-button {
  background-color: #4CAF50;
  color: white;
  margin: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#reset-button:enabled:hover {
  background-color: green;
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#reset-button:disabled {
  background-color: rgb(206, 205, 205); 
  color: white; 
  cursor: not-allowed;
}


